@import '../variables.scss';

.edit-board-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.70);

    &:hover {
        background: rgba(255, 255, 255, 1);
    }
}

.save-pin-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

    width: 70px;
    height: 50px;
    border-radius: 24px;
    background-color: $pinterest-red;
    cursor: pointer; 
    &:hover {
        background-color: $hover-red;
    }
}