<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
  <script src="https://kit.fontawesome.com/ea95249187.js" crossorigin="anonymous"></script>
<% end %>

<main id="root"></main>
