@import '../variables.scss';

.fa-pinterest {
    color: $pinterest-red;
}

.auth-form-modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 32px;
    height: 550px;
    width: 484px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    h1 {
        font-size: 32px;
        color: $header-grey;
        font-weight: $semibold;
        letter-spacing: -1.2px;
    
    }

    .auth-form-header {
        padding-top: 20px;
        position: relative;
        display: flex; 
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        height: 25%;
        width: 100%;

        .exit-auth-modal {
            position: absolute;
            right: 15px;
            top: 8px;
            font-size: 35px;
            font-weight: bold;
            color: $dark-grey;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 55%;
        width: 100%;

        button {
            width: 275px;
            cursor: pointer;
            color: white;
            border: 0px;
            -webkit-font-smoothing: antialiased;
            height: 40px;
            border-radius: 20px;
            font-size: 15px;
            font-weight: bold;
        }

        label {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            color: $dark-grey;
            height: 0px;
            margin-right: 190px;
        }

        input {
            border: 2px solid $input-border-grey;
            border-radius: 16px;
            height: 40px;
            width: 250px;
            font-size: 15px; 
            padding-left: 15px;           

            &:hover {
                border-color: $input-light-grey;
            }

            &:focus {
                box-shadow: $demo-user-blue 0 0 0 4px;
                outline: 0;
            }
        }

        .modal-form-labels {
            margin-left: 5px;
        }
    }

    span {
        font-size: 14px;
        font-weight: 500;
    }

    .modal-form-button {
        background-color: $pinterest-red;

        &:hover {
            background-color: $hover-red;
        }
    }

    .modal-demo-user-button {
        background-color: $demo-user-blue;
    }

    footer {
        height: 10%;
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        align-items: center;

        p {
            color:$modal-footer-text-grey;
            font-size: 11px;
        }

        .auth-form-line-break {
            border-bottom: 1px solid $modal-footer-link-grey;
            width: 110px;
        }

        .footer-form-div {
            color: $header-grey;
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
