@import '../variables.scss';

.create-board-container {
    height: 270px; 
    width: 540px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-weight: $semibold;
        font-size: 28px;
    }

    form {
        padding-top: 37px;
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

        .create-board-input-container {
            width: 100%;
            display: flex; 
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        label {
            padding-right: 440px;
            font-size: 12px;
            text-align: left;
        }

        input {
            margin: 10px 0;
            border: 2px solid $input-border-grey;
            border-radius: $button-font-size;
            height: 40px;
            width: 460px;
            font-size: 15px; 
            padding-left: 15px;           

            &:hover {
                border-color: $input-light-grey;
            }

            &:focus {
                box-shadow: $modal-input-focus 0 0 0 4px;
                outline: 0;
            }
        }

        .board-errors {
            padding-left: 33px;
        }

        .create-board-footer {
            display: flex; 
            flex-direction: row;
            justify-content: flex-end;
        }

        .board-create-button {
            background-color: #efefef;
            border: 0;
            width: 80px;
            height: 50px;
            border-radius: 24px;
            margin: 20px;
            color: #767676;

            h1 {
                font-family: $default-font;
                text-align: center;
                font-weight: 600;
                font-size: 16px;
            }
        }

        .board-create-button.clickable {
            background-color: $pinterest-red;
            color: white; 
            cursor: pointer; 

            &:hover {
                background-color: $hover-red;
            }
        }
    }

}