.second-page {
    height: 100vh;
    width: 100%;
    top: 100vh;
    z-index: 2;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.second-page-photo-background {
    z-index: 3;
}

.second-page-background {
    position: absolute; 
    height: 100vh; 
    width: 100%;
    top: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;

}

.splash-signup {
    z-index: 5;
    padding-right: 200px;
}

.stationary-form {
    display: none;
}

