.second-page {
    height: 110vh;
    width: 100%;
    top: 90vh;
    z-index: 2;
}

.second-page-photo-background {
    z-index: 3;
}

.second-page-background {
    position: absolute; 
    height: 110vh; 
    width: 100%;
    top: 90vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.splash-signup {
    position: absolute;
    z-index: 5;
    right: 300px;
    top: 1200px;
}

.stationary-form {
    display: none;
}

// scroll snap 

.