@import '../variables.scss';


.splash-text {
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    height: 28%;
}


.splash-prompt-container {
    top: 120px;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    margin: auto;
    position: absolute;
    height: 20%;

    .powder-words {
        color: rgb(105, 164, 222);
    }

    .interior-words {
        color: rgb(60, 154, 60);
    }

    .sunset-words {
        color: rgb(241, 159, 52);
    }

    .piece-words {
        color: rgb(255, 62, 62);
    }
}

