.splash-container {
    width: 100%;
    height: 100%;
}

.splash-page-container {
    position: relative;
    height: 100%;
}
.splash-changing-container {
    height: 72%;
    width: 100%;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}