@import '../variables.scss';


.splash-text {
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    height: 28%;
}


.splash-prompt-container {
    font-weight: 600;
    font-size: 60px;
    padding-top: 40px;
    text-align: center;
    margin: auto;
    position: absolute;
    height: 20%;

    .powder-words {
        color: rgb(102, 154, 206);
    }

    .interior-words {
        color: green;
    }

    .sunset-words {
        color: orange;
    }

    .piece-words {
        color: red;
    }
}

