.show-page {
    animation-duration: 6s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    
    10% {
        transform: translateY(0px);
        opacity: 0;
    }
    
    20% {
        transform: translateY(-20px);
        opacity: 1;
    }
  
    to {
        transform: translateY(-20px);
        opacity: 1;
    }
  }

  
.leaving-page {
    animation-duration: 6s;
    animation-name: slideout;
}

@keyframes slideout { 
    from {
        transform: translateY(-20px);
        opacity: 1;
    }

    10% {
        transform: translateY(-33px);
        opacity: 0;
    }
    
    to { 
        transform: translateY(-33px);
        opacity: 0;
    }
}

.hidden-page {
    opacity: 0;
}