@import '../variables.scss';

.pin-dropdown-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    h1 {
        font-weight: $semibold;
    }

    p {
        text-indent: 15px;
        font-size: 12px;
    }


    .pin-dropdown-title {
        height: 50px;
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .pin-dropdown-search{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 100%;

        .pin-dropdown-search-bar {
            display: flex; 
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

            input {
                background-color: $search-bar-grey;
                width: 90%;
                height: 45px;
                border: 0px;
                border-radius: 24px;
                text-indent: 25px;


                &:focus {
                    box-shadow: $modal-input-focus 0 0 0 4px;
                    outline: 0;
                    text-indent: 10px;;
                }
            }
    }

    .pin-search {
        position: absolute;
        right: 310px;
        top: 100px;
        color: $icon-grey;
    }

    input:focus ~ .pin-search{
        opacity: 0;
    }

    .pin-dropdown-boards {
        height: 50%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .pin-dropdown-create {
        height: 20%;
        width: 100%;

        p {
            padding-bottom: 10px;
        }
    }
}

.mini-board-cover-container {
    height: 48px;
    width: 48px;
    background-color: #e9e9e9;
    border-radius: 8px;
}

.pin-add-board{
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: $pin-dropdown-grey;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    i {
        -webkit-text-stroke: 1px $text-default;
    }
}
.pin-dropdown-create-board{
    cursor: pointer;
    height: 78px;
    border-bottom-left-radius: $pin-border-radius;
    border-bottom-right-radius: $pin-border-radius;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &:hover {
        background-color: $pin-dropdown-grey;
    }

    div {
        margin: 5px 5px 5px 15px   
    }
}

.mini-board-cover {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: $pin-dropdown-grey;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mini-board-preview-container {
    cursor: pointer;;
    margin-top: 10px;
    margin-left: 7px;
    height: 60px;
    border-radius: 12px;;
    width: 320px;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;

    &:hover {
        background-color: $pin-dropdown-grey;
    }
}

.mini-board-info {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pin-dropdown-board-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div-image.mini-board {
    width: 48px;
    height: 48px;
}
