@import '../variables.scss';

.board-show-pins-container {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.board-pins-index-container {
    margin-left: 25px;
    width: 96%;
    height: 100%;
}

.masonry-pins-grid {
    width: auto;
    display: flex; 
    justify-content: center;
}

.pin-show-link {
    z-index: 2; 
    width: 100%;
    height: auto;

    div {
        padding-top: 85px;
        height: 80%;
        width: 100%;
        cursor: zoom-in;
    }
}

.pin-item-container {
    width: $pin-width;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 20px;

    .pin-item-info {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70px;
        text-align: left;
        text-indent: 10px;
        font-weight: $semibold;
        color: #211922;
    }

    img {
        width: 100%;
        height: 90%;
        display: flex;
        border-radius: $pin-border-radius;
    }
}

.pin-item-hover {
    width: calc(100% - 20px);
    height: calc( 100% - 90px);
    opacity: 0;
    position: absolute;
    z-index: 5;
    cursor: zoom-in;
    border-radius: $pin-border-radius;
    font-weight: $semibold;
    color: white;

    &:hover {
        background: rgba(0, 0, 0, 0.4);
        opacity: 1;
    }
}

.pin-item-hover-board-name{
    width: 250px;
    position: absolute;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top: 20px;
    cursor: pointer;
}

.pin-dropdown-trigger {
    width: 40%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pin-add-menu {
    position: absolute;
    top: 20px;
    left: 150px;
    visibility: hidden;
    background: white;
    height: 500px;
    width: 350px;
    opacity: 0;
    border-radius: 16px;
    box-shadow: $box-shadow;
    z-index: 20;
}

.pin-add-menu.open {
    visibility: visible;
    opacity:  1;
}

