@import '../variables.scss';

.pin-edit-form-container {
    width: 900px;
    height: 600px;
    background-color: white;
    border-radius: $pin-border-radius;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-family: $default-font;
}

.pin-edit-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;

    h1 {
        font-size: 28px;
        font-weight: $semibold;
    }
}

.pin-edit-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: #211922;
}

.form-form-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;

    height: 70%;
    width: 100%;

    .pin-edit-left {
        width: 70%;
        height: 100%;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: space-evenly;
    }

    .pin-edit-photo {
        width: 30%;
        height: 100%;
        border-radius: $pin-border-radius;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
}

.pin-edit-inputs {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: space-around;
    
     div {
        height: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid  $pin-dropdown-grey;
    }

    select {
        cursor: pointer;
        text-indent: 15px;
        background: $pin-dropdown-grey;
        border: 0px;
        font-weight: 600;
        font-size: 16px;
        width: 380px;
        height: 40px;
        margin-left: 150px;
        border-radius: 8px;
        font-family: $default-font;
        border: none;
        outline: none;
        
        option {
            border: none;
            outline: none;
        }

        &:focus {
            outline: 0;
        }

    }

    input {
        font-size: 16px;
        text-indent: 15px;

        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid;
        width: 380px;
        height: 40px;
        cursor: text;
        border-radius: 16px;
        border: 2px solid $input-border-grey;
        color: $grey-text;

        &:focus {
            box-shadow: $modal-input-focus 0 0 0 4px;
            outline: 0;
        }
    }
}

.edit-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    width: 80%;
    margin-right: 200px;

    
    div, button{
        width: 70px;
        height: 40px;
        font-weight: $semibold;
        border: 0px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        border-radius: 24px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.button-save {
    background-color: $pinterest-red;
    color: white;
    font-weight: $semibold;
}

.button-delete, .button-cancel {
    background-color: $pin-dropdown-grey;
}

.div-image {
    width: 236px;
    height: 419px;
    border-radius: 12px;

    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(239, 239, 239);
}