@import '../variables.scss';

.pin-show-background {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: zoom-out;
}

.pin-show-container {
    z-index: 1;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 603px;
    width: 1016px;
    box-shadow: $box-shadow;
    border-radius: $pin-border-radius;

    display: flex; 
    flex-direction: row;
}

.pin-show-right-container {
    width: 50%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;

    .pin-show-heading {
        position: relative;
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        min-height: 50%;
    }
}

.pin-show-image-container {
    width: 50%;
    height: 100%;
    border-top-left-radius: $pin-border-radius;
    border-bottom-left-radius: $pin-border-radius;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(239, 239, 239);
    position: relative;
}

.pin-text {
    width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .pin-title {
        min-height: 60px;
        line-height: 50px;
        font-size: 36px;
        font-weight: $semibold;
    }

    .pin-description {
        margin-top: 10px;
        word-wrap: break-word;
        font-size: 14px;
        line-height: 20px;
    }
}

.pin-comments {
    height: 50%;
}

.pin-show-boards {
    height: 80px;
}

.pin-show-creator {
    margin-top: 10px;
    margin-left: 60px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.pin-show-boards {
    min-height: 80px;
    width: 444px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.show-pin.pin-add-menu {
    top: 80px;
}

