@import '../variables.scss';

a {
    color: black;
    text-decoration: none;
}

.logged-in-nav {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    display: flex; 
    flex-direction: row;
    padding: 15px 20px 35px 20px;
    font-size: $button-font-size;
    font-weight: $semibold;
    z-index: 1000;
}

.logo-logged-in {
    color: $logo-red;
    cursor: pointer;
}

.logged-in-nav-left {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;

    .hover-logo {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-top: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $search-bar-grey;
        }
    }
    
    .home-button {
        display:flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 24px;
        width: 70px;
        height: 50px;
        text-align: center;
    }

    .home-button-clicked {
        color: white;
        background-color: $text-default;
    }
}

.nav-create-container {
    position: relative;
    padding-top: 18px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;

    i {
        padding: 5px 0 0 8px;
        -webkit-text-stroke: 1px $text-default;
    }

}

.nav-search-bar-container {
    width: 70%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    position: relative;
    height: 50px;
    padding-bottom: 5px;

    input {
        background-color: $search-bar-grey;
        width: 100%;
        border: 0px;
        border-radius: 24px;
        padding-left: 15px;
        font-size: 16px;
        text-indent: 20px;
        
        &:focus {
            box-shadow: $modal-input-focus 0 0 0 4px;
            outline: 0;
            text-indent: 0;
        }

    }

    .search-bar-background {
        background:#000;
        opacity:0.3;
        position:fixed; /* important to use fixed, not absolute */
        top:0;
        left:0;
        margin-top: 100px;
        width:100%;
        height:100%;
        z-index: 2;
    }

    .search-dropdown {
        width: 100%;
        top: 55px;
        border-radius: 20px;
        height: 500px;
        background-color: white;
        position: absolute;
        z-index: 3;
    }

    input:focus ~ .magnifying-glass{
        opacity: 0;
    }


    input:focus ~ .search-bar-background {
        visibility: visible;
    }

    .fa-magnifying-glass {
        position: absolute;
        color: $icon-grey;
        left: 15px;
        top: 25px;
        -webkit-text-stroke: 0.6px $icon-grey;
        
    }
}


.logged-in-nav-right {
    padding-top: 5px;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;

    .logged-in-socials {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 70%;

        a {
            width: 40px; 
            height: 40px;
            border-radius: 50%;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $search-bar-grey;
            }
        }

        .fa-github {
            color: $icon-grey;
            cursor: pointer;
        }
        .fa-linkedin-in {
            cursor: pointer;
            color: $icon-grey;
        }
        .fa-user {
            color: $icon-grey;
            cursor: pointer;
        }
    }

}
.user-profile-icon {
    cursor: pointer;
    margin: 7px 0px 0px 0px;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

.user-avatar {
    border-radius: 50%;
    height: 23px; 
    width: 23px;
    cursor: pointer;

}

.user-avatar-clicked {
    border: 2px solid white;
    outline: 2px solid black;
    border-radius: 50%;
    height: 19px; 
    width: 19px;
}

.user-profile-icon {
    font-size: 10px;
}

.profile-picture, .default-picture {
    text-align: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.default-picture {
    background-color: $search-bar-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



