@import '../variables.scss';

.logged-in-nav {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    display: flex; 
    flex-direction: row;
    padding: 15px 20px 35px 20px;
    font-size: $button-font-size;
    font-weight: $semibold;
}

.logo-logged-in {
    color: $logo-red;
    padding-top: 8px;
    padding-top: 24px;
    cursor: pointer;
}

.logged-in-nav-left {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;
    
    .home-button {
        display:flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 24px;
        width: 70px;
        height: 50px;
        text-align: center;
    }

    .home-button-clicked {
        color: white;
        background-color: $text-default;
    }
}

.logged-in-create {
    padding-top: 18px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;

    i {
        padding: 5px 0 0 8px;
        -webkit-text-stroke: 1px $text-default;
    }

}

.search-bar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    position: relative;
    width: 70%;
    height: 50px;
    padding-bottom: 5px;

    input {
        background-color: $search-bar-grey;
        width: 100%;
        border: 0px;
        border-radius: 24px;
        padding-left: 15px;
        
        &:focus {
            box-shadow: $modal-input-focus 0 0 0 4px;
            outline: 0;
        }
    }

    .fa-magnifying-glass {
        position: absolute;
        color: $icon-grey;
        left: 15px;
        top: 25px;
        -webkit-text-stroke: 0.6px $icon-grey;
        
    }
}


.logged-in-nav-right {
    padding-top: 12px;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;

    .logged-in-socials {
        color: $icon-grey;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 70%;
        padding-top: 12px;

        .fa-github {
            cursor: pointer;
        }
        .fa-linkedin-in {
            cursor: pointer;
        }
        .fa-user {
            cursor: pointer;
        }
    }

}

.demo-user-pic {
    border-radius: 50%;
    height: 23px; 
    width: 23px;
    cursor: pointer;
}

.demo-user-pic-clicked {
    border: 2px solid white;
    outline: 2px solid black;
    border-radius: 50%;
    height: 19px; 
    width: 19px;
    cursor: pointer;
}



