@import '../variables.scss';

.search-bar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;

    input {
        color: #333;
        letter-spacing: 0.5px;
        background-color: $search-bar-grey;
        width: 100%;
        border: 0px;
        border-radius: 24px;
        padding-left: 15px;
        font-size: 16px;
        text-indent: 20px;
        
        &:focus {
            box-shadow: $modal-input-focus 0 0 0 4px;
            outline: 0;
            text-indent: 0;
        }

    }

    input:focus ~ .magnifying-glass{
        opacity: 0;
    }

    .search-bar-background {
        background:#000;
        opacity:0.2;
        position:fixed; /* important to use fixed, not absolute */
        top:0;
        left:0;
        margin-top: 100px;
        width:100%;
        height:100%;
        z-index: 2;
    }

    .search-dropdown {
        width: 100%;
        top: 55px;
        border-radius: 20px;
        height: 200px;
        background-color: white;
        position: absolute;
        z-index: 3;

        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fa-magnifying-glass {
        position: absolute;
        color: $icon-grey;
        left: 15px;
        top: 25px;
        -webkit-text-stroke: 0.6px $icon-grey;
        
    }
}

.search-boards-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.search-categories-container {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-categories-container.hide {
    display: none;
}

.category-container {
    background-color: pink;
    width: 120px;
    height: 120px;
    border-radius: 24px;
}

.category-cover.div-image {
    width: 120px;
    height: 120px;
    border-radius: 24px;
    position: relative;

    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.category-name {
    color: white;
}