@import '../variables.scss';

.board-show-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .board-show-header {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .board-show-name {
            position: relative;
            display: flex; 
            flex-direction: row;
            justify-content: center;

            h1 {
                font-size: 36px;
                font-weight: 600;
            }

            > div {
                height: 30px;
                width: 30px;
                font-size: 30px;
                font-weight: 600;
                border-radius: 50%;
                background-color: $search-bar-grey;
                display: flex; 
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 8px 0 0 15px;
                cursor: pointer;

                &:hover {
                    background-color: $hover-grey;
                }

                > p {
                    margin-bottom: 20px;
                }
            }

            .board-hide-options {
                visibility: hidden; 
                opacity: 0;
                display: none;
                
            }
        }

        .board-show-owner {
            display: flex; 
            flex-direction: row;
            justify-content: center;

            .board-show-owner-profile {
                margin-top: 30px;
                height: 48px;
                width: 48px;
                border-radius: 50%;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                }
            }
        }

        .board-show-description {
            padding-top: 30px;
            display: flex; 
            flex-direction: row;
            justify-content: center;
        }

    }

    .board-show-pins {
        height: 70%;
        width: 100%;
    }
}

.options-menu {
    position: absolute;
    background-color: white;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 15px;
    top: 50px;

    display: flex; 
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);

    > p {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .edit-board-option {
        display: flex; 
        flex-direction: column;
        justify-content: center;

        font-size: 16px;
        cursor: pointer;
        height: 30px;
        border-radius: 8px;

        &:hover {
            background: $search-bar-grey;
        }
    }
}

.options-menu.open {
    opacity: 1;
    visibility: visible;
}