@import '../variables.scss';

.delete-board-modal-container {
    height: 320px; 
    width: 540px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        height: 30%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin-bottom: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: $semibold;
            font-size: 28px;
        }
    }

    .delete-board-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: $semibold;
        height: 50%;

        div {
            width: 500px;
            height: 48px;
            border-radius: 24px; 
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .cancel-delete-board {
            background-color: #efefef;
        }

        .delete-board-button {
            background-color: $pinterest-red;
            color: white;
        }
    }
}