@import '../variables.scss';

.boards-index-container {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 150px;
    padding-bottom: 50px;
    width: 100%;
    height: 80%;

    .board-preview-container {
        cursor: pointer;
        height: 220px;
        width: 236px;
        margin: 30px;

        .board-preview-cover-container {
            border-radius: 24px;
            width: 236px;
            height: 157px;
            position: relative;

            .board-cover-pictures {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .cover-panel-1 {
                    width: 155px;
                    height: 157.33px;
                    border-top-left-radius: 24px;
                    border-bottom-left-radius: 24px;
                    background-color: rgb(239, 239, 239);
                }
    
                .cover-column-2 {
                    height: 157px;
                    width: 78.66px;
                    display: flex; 
                    flex-direction: column;
                    justify-content: space-between;
    
                    .cover-panel-2, .cover-panel-3 {
                        width: 78.66px;
                        height: 78.0px;
                        background-color: rgb(239, 239, 239);
                    }

                    .cover-panel-2 {
                        border-top-right-radius: 24px;
                    }

                    .cover-panel-3 {
                        border-bottom-right-radius: 24px;
                    }
                }
            }


            .preview-board-edit {
                visibility: hidden;
                position: absolute; 
                left: 190px;
                top: 110px;
            }


            &:hover {
                filter: brightness(0.98)
            }
        }

        .board-preview-cover-container:hover .preview-board-edit {
            visibility: visible;
        }

        .board-preview-text {
            padding: 20px 0 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            width: 220px;
            height: 43px;

            h1 {
                word-wrap: break-word;
                font-size: 20px;
                font-weight: $semibold;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

div[class^='cover-panel'] {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(239, 239, 239);
    position: relative;
}
