$default-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica;
$pinterest-red: #e60023;
$logo-red: #c00;
$hover-red: #ad081b;
$semibold: 600;
$header-grey: rgb(51, 51, 51);
$text-default: #111;
$heading-color: #000;
$input-light-grey: #b9b8b8;
$input-border-grey: #cdcdcd;
$icon-grey: #767575;
$grey-text: #767676;
$hover-grey: #dadada;
$modal-footer-link-grey: rgb(222, 222, 222);
$modal-footer-text-grey: rgb(118, 118, 118);
$modal-input-focus: rgba(0, 132, 255, 0.5);
$button-font-size: 16px;
$search-bar-grey: #e8e5e5;
$pin-height: 350px;
$pin-width: 236px;
$pin-width-difference: 14px;
$pin-border-radius: 16px;