$pinterest-red: rgb(230, 0, 35);
$red-button: #e60023;
$red-button-hover: #a3081a;
$blue-button: #0074e8;
$blue-button-hover: #4a8ad4;
$gray-button: #efefef;
$gray-button-hover: #e2e2e2;
$pin-builder-gray: #e9e9e9;
$white-background-drop-shadow: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 8px);
$splash-blue: #004b91;
$splash-green: #0a6955;
$splash-orange: #e3780c;
$charcoal: #4f4f50;