@import '../variables.scss';

.user-show-container {
    padding-top: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-show-header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 350px;

        .user-show-profile-pic {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            font-size: 50px;
            font-weight: 600;
        }

        > h1 {
            font-size: 36px;
            font-weight: 600;
        }

        > p {
            color: $icon-grey;
        }
        
    }

}

.user-show-content-labels {
    background-color: white;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 30;

    h1{
        font-weight: $semibold;
        font-size: 16px;
        line-height: 35px;
        margin: 20px;
    }

    .tab-clicked {
        border-bottom: 3px solid black;
    }
}

.user-show-content-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.user-show-plus-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 40px;
    font-weight: 650;
    width: 100%;
    height: 5%;

    > div {
        margin-right: 15px;
    }
    
    i {
        position: absolute;
        cursor:pointer;
        top: 22px;
        right: 28px;
    }
}